* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  } 
  
  body{
    font-family: 'Fira Sans', sans-serif;
  }

.banner{
    width: 100vw;
    height: 317px;
    position: relative;
}

.banner-img{
  width: 100%;
    position: absolute;
}

.search-container{
    position: absolute;
    top: 40%;
    left: 40%;
    border: none;
}

.search-input {
    flex: 1;
    padding: 8px 60px 8px 60px; 
    margin-right: 80px;
    background-color: white;
    border: none;
    border-radius: 4px;
    background-image: url('/biblioteca/resource/img/lupa.svg'); 
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 15px; 
    
  }



